@charset "utf-8";
/*!
 * site2015 extend styles
 * ---------------------------------------------
 * 
 */

/* 大きなロゴに対応 */

.siteLogo {
  width: auto;
  max-width: 200px;
}

@media (min-width: 768px) {
  .siteLogo {
    max-width: 300px;
  }
}

/* カテゴリー背景の指定がないときに出る画像を無効化 */

.pageTitleWrapper {
  background-color: #999999;
  background-image: none;
}


/* 高解像度のときのカテゴリータイトル高さを詰める */

.pageTitleInner {
  padding: 20px 10px 10px;
}

@media (min-width: 768px) {
  .pageTitleWrapper {
    height: auto;
  }
}

/* お問い合わせフォームのタイトル上が空く不具合を回避 */

.page-header {
  margin: 0 0 20px 0;
}

/* フッタSNSボタン・コピーライトの調整 */

.footWrapper {
  padding: 15px 0;
}

@media screen and (min-width: 1024px) {
  .footWrapper {
    padding: 15px 0 60px;
  }
}

.copyright {
  margin: 0;
  padding: 15px 0 0;
  font-size: 10px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .copyright {
    font-size: 14px;
  }
}


